# Dépendances & outils
/vendor/
/.phpunit.cache/
/phpunit.xml

# Environnement & secrets
/.env
*.env.local

# Stockage applicatif
/storage/logs/*
/storage/queue/*
/storage/pdfs/*
/storage/backups/*
/storage/sessions/*
!/storage/logs/.gitkeep
!/storage/queue/.gitkeep
!/storage/pdfs/.gitkeep
!/storage/backups/.gitkeep
!/storage/sessions/.gitkeep
/storage/cache/*
!/storage/cache/.gitkeep

# Uploads
/public/uploads/*
/public/qr/*

# OS / IDE
.DS_Store
.idea/
.vscode/
